@import "reset"

$mainBlue : rgb(220, 215, 255)
$bgGray : rgb(117, 120, 135)
$accentYellow : rgb(236, 234, 0)
$White : rgb(255, 255, 255)
$black : rgb(0, 0, 0)
$green: rgb(200,255,200)

body
  background-color: $bgGray
  text-align: center
.wrapper
  max-width: 480px
  background-color: $White
  margin: 10px auto
  border-radius: 18px
  padding: 18px

#result
  height : 400px
  overflow: scroll


h1
  font-size : 2em
h2
  font-size : 0.8em



.botSays
  margin-left: 0
  margin: 18px 9px
  max-width: 60%
  text-align: left
  background-color: $mainBlue
  border-radius: 18px
  padding: 5px 20px

.playerSays
  margin: 9px 18px 9px auto
  max-width: 60%
  text-align: right
  background-color: $green
  border-radius: 18px
  padding: 5px 20px
