doctype html
html(ng-app='App' lang='en')
	head
			meta(charset='utf-8')
			meta(name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0")
			title='題詠のネタchatbot'
			link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/main.css')
			link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/button.css')
			link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/lightbox.css')
			script(id="twitter-wjs" src="http://platform.twitter.com/widgets.js")

	body
		#main_content.wrapper
			h1 題詠のネタ
			h2 短歌の題を考えてくれます
			#result 
				ul#says
			.general-button#near(onClick="daiWoDasu('近いけど他のは？')")
				.button-content
					span.button-text ちょっと違うの
			.general-button#far(onClick="daiWoDasu('ぜんぜん違うやつがいい')")
				.button-content
					span.button-text ぜんぜん違うの
			.general-button#korenisuru(onClick="korenisuru()")
				.button-content
					span.button-text これにする
			.share
			.copyright
				| made by 
				a(href="http://noubrain.hateblo.jp/") @kinakobooster
				|  of 
				a(href="https://etahapi.github.io") EIFUKU CIPHER
				|  2016 October
			
			
		#lightbox
			#mask(onClick="reset()") 　
			#modal
				#kettei
					| 題
					span#dai 「」
					| に決めました
				.share
					#twitter
				a.onemore(onClick="reset()") x 閉じる / もう一回
			
		
script(src='dest/assets/js/app.js')
